*{
    margin:0;
    paddding:0;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    width: 100%;
    background-color: black;
    color: bisque;
}
.navbar li{
    padding: 1rem;
    list-style-type: none;
}
.navbar a{
    text-decoration: none;
    color:antiquewhite
}
.nav-logo{
    flex:1;
    font-size: 1.5rem;
}
.nav-toggle{
    display: none;
}
.nav-links:hover{
    background-color: aliceblue;
}
.nav-links a:hover{
    color:blueviolet
}
@media (max-width:750px) {
    .navbar ul{
        flex-wrap: wrap;
    }
    .nav-links{
        width: 100%;
        text-align: center;
    }
    .nav-toggle{
        display: block;
    }
    .card{
        width: 100%;
    }
}
.containerabout, .containergallary, .services, .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.footer{
    background-color: darkslategrey;
    color: azure;
}
.footone{
    flex: 0 0 20%;
}
.leftside{
    width: 45vw;
    font-size: 1.2rem;
}
.rightside{
    width: 50vw;
    padding: 20px;
}
.single{
    padding: 20px;
    margin: 20px;
}
.single img{}
.single:hover{
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}
.card{
    width: 25vw;
    margin: 0 20px 20px 0;
    border:2px solid green
}
.card:hover{
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.5);
}
.card img{
    width: 100%;
}
h2, p{
    padding: 20px;
}
.leftside a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 20px;
    margin-top: 50px;
}
